@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,100,100italic,300);
h1 h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 50px;
}



h1, h2, h3, h4, h5, h6, .navbar {
	margin:0;
	padding: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 15px;
}
.booyah-box h2, .booyah-box h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 50px;
 
}

.field {
	font-family: 'Roboto', sans-serif;
	font-weight: 90;
	font-size: 15px;
}

.navbar {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 18px;
	color: #FFFFFF;
	box-shadow: 0px 1px 3px #2a2a2a;
	

}

.navbar-inverse a.navbar-brand {
	font-family: "Roboto", sans-serif;
	font-weight: 350;
	font-size: 30px;
	color: #0997aa;


}

.hero {
	background: url('nasa.jpg') no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 370px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
	background:rgba(0,0,0, 0.1);
	color: white;
}

.frosty h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 50px;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {

	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
	border-radius:0;
}

body {
	background: url('bg.png');
	font-family: Constantia, "Lucida Bright", 
	Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", 
	"Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.clr {
	clear:both;
}

 
